.header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 23vh;
}
  
  .logoHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;

  h1 {
  color: #ffff;
  font-size: 18px;
}
  }

  .navHeader {
    width: 30%;
  
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
  
    .link {
      color: #fff;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        color: #005695;
        transition: 0.2s;
      }
    }
  }
  
  .barradepesquisa {
    border: solid #fff;
    border-radius: 10px;
    margin-right: 1%;
    width: 27%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

  
    input {
      background-color: transparent;
      border: none;
      width: 60%;
      height: 5vh;
  
      &::placeholder {
        color: #fff;
        font-size: 14px;
      }
    }
  
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

@media (max-width: 780px) {
.header {
  justify-content: space-evenly;
  flex-direction: column;
  height: 30vh;
  align-items: center;
    }
  .logoHeader {
  width: 70%;
  }
  .navHeader {
  width: 95%;
  }
  .barraDeBusca {
  display: none;

  }
}