.SectionLivrosDoados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    padding: 2rem;
    overflow: hidden;
    
}

.SectionLivrosDoados h2 {
    font-size: 24px;
    height: 5vh;
    display: flex;
    justify-content: center;
}

.Livros {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    overflow-y: 1s;
    overflow-x: hidden;
    max-height: 60vh;
    padding-right: 10px;
}

.Livros::-webkit-scrollbar {
    width: 8px;
}

.Livros::-webkit-scrollbar-thumb {
    background: #006595;
    border-radius: 10px;
}

.Livros section {
    border: solid #006595;
    border-radius: 20px;
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.Livros section:hover {
    transform: scale(1.05);

    img {
    width: 60%;
}

    h3 {
    font-size: 16px;
    text-align: center;
}
    p {
    font-size: 12px;
    text-align: center;
}
}

@media (max-width: 780px) {
    .SectionLivrosDoados {
        height: 80vh;
        justify-content: space-around;
    }

    .Livros {
        width: 90%;
        max-height: 50vh;
    }

    .Livros section {
        width: 80%;
        height: 40vh;
    }
}
    .Livros section img {
        width: 50%;
    }

    .Livros section h3 {
        font-size: 14px;
    }

    .Livros section p {
        font-size: 10px;
    }
