.SectionLivrosDoados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    padding: 2rem;
    overflow: hidden; //serve para esconder o scroll
    background-color: #f0f8ff;
}

.SectionLivrosDoados h2 {
    font-size: 24px;
    height: 5vh;
    display: flex;
    justify-content: center;
}

.Livros {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    overflow-y: 1s;
    overflow-x: hidden;
    max-height: 60vh;
    padding-right: 10px;
}

.Livros::-webkit-scrollbar {
    width: 8px;
}

.Livros::-webkit-scrollbar-thumb {
    background: #006595;
    border-radius: 10px;
}

.Livros section {
    border: solid #006595;
    border-radius: 20px;
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
    padding: 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.Livros section:hover {
    transform: scale(1.05);
}

.Livros section img {
    width: 60%;
}

.Livros section h3 {
    font-size: 16px;
    text-align: center;
    margin: 1rem;
}

.Livros section p {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 780px) {
    .SectionLivrosDoados{
        height: 80vh;
        margin-bottom: 30px;
        padding: 0;
    }
    .Livros section {
        width: 90%;
        height: 50vh;
        p{
            font-size: 16px;
        }
    }
}